body {
  padding-top: 20px;
}
button[type="submit"] {
  border: none !important;
  outline: none !important;
}
.list-group-item:first-child {
  background-color: #ffffff !important;
}

.list-group-item:first-child > a {
  color: #066580 !important;
}
.alert {
  margin: 10px auto;
  padding: 5px 5px !important;
}
.fa-trash {
  color: red;
}

i.fa-trash.post-delete {
  color: white !important;
}
.btn {
  border-radius: 20px !important;
  padding: 5px 9px !important;
  margin-right: 5px;
}
